$black: #121212;
$dark-blue: #19202d;
$white: #ffffff;
$grey-100: #e7eaee;
$grey-200: #cfcfcf;
$grey-400: #676d7e;
$grey-500: #48556a;
$purple-50: #ede4ff;
$purple-300: #a775f1;
$purple-500: #733fc8;
