@use "../utils/media.scss" as *;

.container {
  max-width: 19rem;
  margin: 0 auto;
  padding-inline: 1rem;

  @include onTablet {
    min-width: 40rem;
  }

  @include onDesktop {
    min-width: 70rem;
  }
}
