@use "../styles/utils/variables" as *;
@use "../styles/utils/media.scss" as *;
@use "../styles/utils/mixins.scss" as *;
@use "../styles/utils/typography.scss" as *;

.card {
  border-radius: 8px;
  padding: 2rem;

  &:nth-child(1) {
    background: $purple-500;
    color: $white;
  }

  &:nth-child(2) {
    background: $grey-500;
    color: $white;
  }

  &:nth-child(3) {
    background: $white;
    color: $grey-400;
  }

  &:nth-child(4) {
    background: $dark-blue;
    color: $white;
  }

  &:nth-child(5) {
    background: $white;
    color: $grey-400;
  }

  &__title {
    @include text-preset-1;
    font-size: 1.25rem;
    line-height: 1.2;
    margin-block-end: 1rem;
  }

  &__text {
    @include text-preset-3;
    font-size: 0.8125rem;
  }

  &__author {
    margin-block-end: 1rem;
    @include flex-start;
    gap: 1rem;
  }

  &__image {
    overflow: hidden;

    & img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__name {
    &:first-child {
      font-weight: 500;
      font-size: 13px;
      margin-block-end: 4px;
    }
    &:last-child {
      @include text-preset-4;
    }
  }
}

@include onTablet {
  .card {
    &:nth-child(1) {
      background: url("background.png") $purple-500 right 15% top 0% no-repeat;
      color: $white;
    }
  }
}
